.register-link {
    padding-top: 15px;
}

.fontsignup {
    width: 150px;
    margin: left;
    padding-right: 20px;
}

.input-box {
    padding-right: 10px;
}

.input-box i {
    padding-right: 10px;
}