.bread-crumb {
    background: #fff;
    margin-bottom: 30px;
}

.rte p {
    color: #898989;
    text-align: justify;
    margin: 0 0 15px 0;
}

.rte p strong {
    text-align: justify;
    color: #898989;
    margin: 0 0 15px 0;
}

.title-head a {
    color: #898989;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
    text-decoration: none;
    font-weight: inherit;
}

.margin-bottom-40 {
    margin-bottom: 40px !important
}

.padding-top-15 {
    padding-top: 15px !important;
}

.col-md-12 .col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.content-page {
    min-height: 400px;
}



footer.footer {
    background: #fff;
}

row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

footer.footer .copyright {
    margin-bottom: 0px;
    position: relative;
    border-top: 1px solid #e1e1e1;
    padding: 20px 0;
    line-height: 35px;
}

.backtop {
    position: fixed;
    bottom: 32px;
    right: 50px;
    z-index: 99;
    top: auto !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #ea6c53;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    opacity: 0 !important;
}

.page {
    background-color: #f8f9fa;
}

footer .des_footer {
    font-family: "Roboto", sans-serif;
    color: #898989;
    font-size: 13px;
    line-height: 25px;
    margin: 0 0 15px;
}

footer .content_contact {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #898989;
}

footer .content_contact a {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #898989;
}

footer.footer .contact-ft .content_contact {
    width: calc(100% - 17px);
    float: left;
    padding-left: 10px;
}

footer.footer .contact-ft .icon_contact svg {
    width: 14px;
    transform: translateY(5px);
    height: 14px;
}

footer.footer .list-menu li a {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #898989;
    font-weight: 400;
    line-height: 36px;
    position: relative;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

ul {
    list-style: none outside;
}

footer.footer .contact-ft .content_contact {
    width: calc(100% - 17px);
    float: left;
    padding-left: 10px;
}

footer.footer .contact-ft .icon_contact svg {
    width: 14px;
    transform: translateY(5px);
    height: 14px;
}

svg:not(:root) {
    overflow: hidden;
}

footer.footer h5 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #252525;
    text-transform: uppercase;
    margin: 0 0 15px;
}

footer.footer .contact-ft .icon_contact {
    width: 17px;
    height: 17px;
    float: left;
    line-height: 17px;
}

footer.footer .clicked {
    position: relative;
    right: -40px;
}

footer .mobile b {
    color: #f16c52;
}

footer .wsp a {
    color: #f16c52;
    opacity: 1;
    font-weight: 700;
}

footer.footer .contact-ft .icon_contact svg path {
    fill: #f16c52;
}